/*------Prototype------*/
@font-face {
  font-family: Quark-Bold;
  src: url(../webfonts/Quark-Bold.otf);
}
@font-face {
  font-family: LeagueSpartan;
  src: url(../webfonts/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: Quark-Light;
  src: url(../webfonts/Quark-Light.otf);
}
body {
  background-color: rgb(255, 242, 229);
  font-family: Quark-Bold;
  margin: 0;
  color: #393e46;
}
div.Nav_Bar {
  position: absolute;
  font-size: 25px;
  right: 10px;
  text-align: right;
  margin-top: 10px;
}
a.button_Nav:link,
a.button_Nav:visited {
  color: black;
  padding: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
a.button_Nav:hover,
a.button_Nav:active {
  color: rgb(163, 163, 163);
  font-size: 101%;
  transition: 0.5s;
}
body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
div.Head {
  grid-area: 1/1;
  width: 100%;
  height: 10vh;
}
div.Content {
  grid-area: 2/1;
  width: 80%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}
div.Foot {
  grid-area: 3/1;
  width: 100%;
  height: 5vh;
  background-color: black;
}

/*------Prototype------*/
div.head-text {
  text-align: center;
  font-size: 60px;
  padding-bottom: 40px;
}

div.detail {
  text-align: center;
  font-family: Quark-Light;
  font-size: 25px;
  padding-bottom: 70px;
  padding-top: 30px;
}
div.img_1 {
  text-align: center;
}
div.img_1 > img {
  width: 50%;
  height: 50%;
}
ul {
  list-style-type: none;
}
div.Github-text {
  text-align: center;
  font-size: 25px;
}
div.Github-text > a {
  color: #393e46;
  text-decoration: none;
}
div.Github-text:hover {
  font-size: 27px;
  transition: 0.5s;
}
