div.Content_project {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
}

div.project_feature {
    width: 350px;
    padding-top: 7%;
    height: 450px;
}

a.feature_project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 50px;
    color: grey;
}

a.head_project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 77px;
    margin-bottom: 60px;
    color: grey;
}