body {background-color: #2f2f2f;
font-family: 'Ubuntu', sans-serif;}


.Head11 {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 1%;

}

.Head11 a {
 
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;

}


.home_but{padding-left: 20px;
}


.Head11 a:hover {
  color: #f1f1f1; padding-left: 40px;
  padding-left: 20: 
}




@media screen and (max-height: 100%;) {
  .Head11 {padding-top: 20px;}
  .Head11 a {font-size: 18px;}
} 




.Head11{background-color: #2f2f2f;
height: 100%;
}

.but01{width: 100%;
background-color:#2f2f2f;
color: white;
border: none;
font-size: 18px;
padding-right: 100%;
margin-top: 3%;
padding-top: 5%; 
padding-bottom:5%; 
padding-left: 10%;

}
.but01:hover {
  background-color: #0c4ba3;


}
.hhh{
  padding-top: 100%;  

}



.urname{text-align: center;
   color: #f1f1f1; 
   font-size: 25px;
   margin-right: 5%;
}

.logo{width: 10%;
height: 5%;}
.logo img{height: 100px;
width:220px;}




.but01{padding: 9% 30%;
background-color:#2f2f2f;
color: white;
border: none;
font-size: 20px;
}
.but01:hover {
  background-color: #006bd7;

}





.content{padding: 10px;
       background-image: url("https://data2.origin.com/asset/content/dam/originx/web/app/games/apex/apex/F2P/screenshots/R5_World_Airbase_01_v02.jpg/8196e07f-4f27-49f5-afb9-8b4ca5e65eb0/original.jpg");
       
      color: white;
      padding-left: 15%;

      
}
/*--------------------------------------*/
.form_item{ margin-left: 20%;
      margin-right: 20%;



}




/*--------------------------------------*/

.field1{background-color: #2f2f2f;padding: 15px;opacity:0.9;filter:alpha(opacity=90);
margin-top:1%;}

.field2{background-color: #2f2f2f;padding: 15px; margin-top:8%;opacity:0.9;}

.field3{background-color: #2f2f2f;padding: 15px; margin-top:8%;opacity:0.9;}
/*--------------------------------------*/
legend{color: white;
  font-size:30px;
  

   }
/*--------------------------------------*/







.type1{margin-top: 20px;
}
#type{background-color: #404040;
      color: white;
       border-color: white;
       padding: 10px;
       margin-left: 5%;
       width: 35%;
 }


input{ border-color: white;background-color: #404040;
      color: white;
      border-style: groove;
     }


 option{background-color: white;
  color: black;}



  #infomation{margin-left: 1.5%;
              margin-top: 5px;
              width: 68%;
              color: white;
              background-color: #404040;
              border-radius: 4px;
               border-style: groove;
               border-color: white;
               border-style: groove;
               padding: 2%;
               height: 100px;
               margin-bottom: 2%;
               
   }

.nana{margin-bottom: 3%;
margin-top: 2%;}
.name01{margin-left: 4%;padding: 1% ;width:70%;} 

.infog{float: left; margin-top: 5%;}

.pbg{margin-left: 9%;padding:1%;}

.butbut{padding: 2% 8%;
background-color: #cd334e;
border:none;
margin-top: 5%;
margin-bottom: 20px;
margin-left: 71%;
font-size: 110%;
}

.butbut:hover{background-color: #8a4f5f;}