

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Quark-Bold;
  src: url(../webfonts/Quark-Bold.otf);
}
@font-face {
  font-family: LeagueSpartan;
  src: url(../webfonts/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: Quark-Light;
  src: url(../webfonts/Quark-Light.otf);
}

