@font-face {
    font-family: Quark-Bold;
    src: url(webfonts/Quark-Bold.otf);
}

@font-face {
    font-family: LeagueSpartan;
    src: url(webfonts/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: Quark-Light;
    src: url(webfonts/Quark-Light.otf);
}

body {
    font-family: Quark-Light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Quark-Light;
}