body {font-family: 'Ubuntu', sans-serif;background-image: url("../img/bgaddi.jpg");
       }

.but01{padding: 9% 30%;
background-color:#2f2f2f;
color: white;
border: none;
font-size: 20px;
}
.but01:hover {
  background-color: #006bd7;

}



.Head11 {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 1%;

}

.Head11 a {
 
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;

}


.home_but{padding-left: 20px;
}


.Head11 a:hover {
  color: #f1f1f1; padding-left: 40px;
  padding-left: 20: 
}




@media screen and (max-height: 100%;) {
  .Head11 {padding-top: 20px;}
  .Head11 a {font-size: 18px;}
} 




.Head11{background-color: #2f2f2f;
height: 100%;
}

.but01{width: 100%;
background-color:#2f2f2f;
color: white;
border: none;
font-size: 18px;
padding-right: 100%;
margin-top: 3%;
padding-top: 5%; 
padding-bottom:5%; 
padding-left: 10%;

}
.but01:hover {
  background-color: #0c4ba3;


}
.hhh{
  padding-top: 150%;  

}



.urname{text-align: center;
   color: #f1f1f1; 
   font-size: 25px;
   margin-right: 5%;
}

.logo{width: 10%;
height: 5%;}
.logo img{height: 100px;
width:220px;}



.ddd{padding-left:10%; }
.content{margin-right: 20%;background-color: #2f2f2f;margin-left: 20%;padding: 2%;margin-top: 5%;
color: white;opacity: 0.9;border-radius: 5px;}
/*--------------------------------------*/

}


.field1{background-color: #2f2f2f;padding: 30px;opacity:0.9;margin-top:1%;}


}
/*--------------------------------------*/
.field2{margin-left: 20px;}



.jjj{font-size: 220%;}
#fileField{margin-top: 2%; margin-right: 10%;}
.addpic{margin-top: 10%;text-align: center;}

label{margin-bottom: 5%; margin-left: 10%; }




.sub1{padding: 2% 8%;
background-color: #0077ef;
border:none;
margin-top: 5%;
margin-bottom: 20px;
margin-left: 71%;
font-size: 110%;
color: white;border-radius: 5px;
cursor: pointer;
}

.sub1:hover{background-color: #006bd7;}

.kkk{font-size: 30px; padding-left: 4%;}

input{margin-left: 20px; }


.hhh{padding-top: 150%;}

/*----------------------------------------------*/

@media only screen and (max-width: 600px) 
{
.but01{
     padding: 9%;
     background-color:#2f2f2f;
     color: white;
     border: none;
     font-size: 20px;
     border-radius: 5px;
}      
.logo img {
     height: 40px;
     width: 1000%;
   }
   .Head11 {
     height: 100%;
     width: 25%;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     overflow-x: hidden;
     padding-top: 1%;
     background-color: #2f2f2f;
   }
   .Head11 a:hover {
     color: #f1f1f1; 
     padding-left: 10px;
   }
   .urname {
       margin-left: 5%;
       font-size: 110%;
   }
.content{
background-color: #2f2f2f;
color: white;
margin-top: 30%;
margin-right: 10%;
margin-left: 20%;
opacity: 0.9;
}
.sub1{
padding: 2% 8%;
background-color: #0077ef;
border:none;
margin-top: 5%;
margin-bottom: 5px;
margin-left: 60%;
font-size: 110%;
color: white;
border-radius: 4px;

}


}